<!-- author: lohitha bhethalam -->
<br/>
<br/>
<h2>event details</h2>
<br/>
<br/>  ID:
<%=  event._id %>
  
    <br/>name:
    <%=event.name%>
      <br/> email:
      <%=event.email%>
      <br/> phone:
      <%=event.phone%>
      <br/> state:
      <%=event.state%>
      <br/> stadium:
      <%=event.stadium%>
      <br/> date 
      <%=event.date%>
        <br/>
       
            <br/>
            <br/>
            <form method="get" action="/event">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>